*,html {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1em;
	line-height:1em;
	margin: 10px;
}

a {
	text-decoration: none;
}

.dropdown {
	display:inline-block;
	width: 200px;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #FFFFFF;
	background-color: #189AB1;
}
	.dropdown .list {
		display:block;
		width:200px;
		height:0px;
		position:absolute;
		background-color:inherit;
	    -webkit-transition: all 400ms ease-out;
		-moz-transition: all 400ms ease-out;
	    transition: all 400ms ease-out;
	    -webkit-border-radius: 0px 0px 4px 4px;
		-moz-border-radius: 0px 0px 4px 4px;
		border-radius: 0px 0px 4px 4px;
	}
	.dropdown.openned {
		height:auto;
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.dropdown.openned .list {
		height:auto;
		-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	}
	.dropdown .option {
		display:none;
		text-decoration: none;
		-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
		-moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
		text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	}
	.dropdown.openned .option {
		display:block;
		list-style: none;
	}
		.dropdown.openned .option a, .dropdown .selection {
			display:block;
			line-height:1.2em;
			padding: 4px 12px;
			color: #FFFFFF;
			-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
			-moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
			text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
		}
		.dropdown .selection {
			display:block;
			background: url("../img/dropdown-arrow.png") no-repeat scroll right center rgba(0,0,0,0.2);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
		.dropdown.openned .selection {
			-webkit-border-radius: 4px 4px 0 0;
			-moz-border-radius: 4px 4px 0 0;
			border-radius: 4px 4px 0 0;
		}
		.dropdown li:last-child {
			-webkit-border-radius: 0px 0px 4px 4px;
			-moz-border-radius: 0px 0px 4px 4px;
			border-radius: 0px 0px 4px 4px;
		}
		.dropdown li:hover {
			background-color: rgba(0,0,0,0.3);
			cursor:pointer;
		}
	.dropdown.closed li:first-child {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.dropdown.closed li:not(:first-child) {
		display: none;
	}